*{
    margin: 0;padding: 0;
}

body{
    background-image: url('bg.jpeg');
    background-size: cover;
    overflow: hidden;
}

.taskbar{
    bottom: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    background-color:#f3f3f3 ;
    z-index: 110;
}

.startmenu{
    position:absolute;
    /* bottom: 50px; */
    bottom: -650px;
    width: 100%;
    text-align: center;
    transition: all 0.3 ease-in;
}

.startmenu img{
    border-radius: 8px;
    width: 30%;
}

.right{
    justify-self: flex-end;
    position: absolute;
    right: 0;
    margin: 6px 0;
    height: 85%;
}

.icons{
    color: white;
    width: 20px;
    height: 20px;
    display: inline;
}

/* .video{
    display: block;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
} */
